In [1]:
import os
import pandas as pd

### Get NL Score data

In [2]:
path = 'U:\\Projects\\datasets\\mails\\mc'
os.chdir(path)

In [4]:
# df_1 = pd.read_csv('GetDatSegment20200127.csv',
#                  sep = ';',
#                  encoding='utf-16'
#                 )

df_segment = pd.read_csv('Export_ClientInfo20200131.csv',
                 sep = ';',
                 encoding='utf-16'
                )

In [7]:
# There is one wrong entry in the data
df_segment.loc[1909820,'Email_Confirmation_Date'] = pd.Timestamp('2013-08-01 18:00:00')

In [51]:
df_segment = df_segment.assign(test = lambda d: pd.to_datetime(d['Email_Confirmation_Date']).dt.date)

,SubscriberKey,Country,Language,LastOpenDate,FirstName,Salutation,EmailOptInStatus,PreferredStore,CardID,Birthdate,...,ScoreGroup,GSBTN,Age,AppCustomer,PrefPhysOpen,NextPhysOpen,Welcome,Push,non_profitable,test
0,0031i000001ra07AAA,RO,NaN,2020-01-10 05:22:03,NaN,NaN,a,NaN,NaN,NaN,...,Activate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,2018-09-24
1,0031i000001ra60AAA,HU,NaN,2020-01-01 01:58:40,NaN,NaN,a,NaN,NaN,NaN,...,Activate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,2018-10-09
2,0031i000001ra81AAA,DE,de,2020-01-23 00:06:44,Evgenia,Mrs.,a,NaN,2.103731e+09,1985-03-11 00:00:00,...,Regain,NaN,34.0,NaN,NaN,NaN,NaN,NaN,True,2019-10-06
3,0031i000001ra8PAAQ,DE,NaN,2019-09-09 13:31:13,NaN,NaN,a,NaN,NaN,NaN,...,Activate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,2018-09-18
4,0031i000001raazAAA,DE,NaN,2020-01-25 01:41:10,Karin,Frau,a,NaN,NaN,NaN,...,Base,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,2018-09-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2853796,0035800001Z0ZRRAA3,DE,de,2019-09-28 07:39:35,sarah,Mrs.,a,NaN,2.132816e+09,1995-05-09 00:00:00,...,Activate,NaN,24.0,NaN,NaN,NaN,NaN,NaN,False,2018-06-28
2853797,0035800001Z0ZRrAAN,PL,pl,2019-04-23 04:19:30,AGNIESZKA,Mrs.,a,NaN,5.048216e+09,1994-12-13 00:00:00,...,Regain,NaN,24.0,NaN,NaN,NaN,NaN,NaN,False,2018-06-28
2853798,0035800001Z0ZRUAA3,CZ,cs,2019-07-07 07:44:06,Petra,Mrs.,a,NaN,4.014569e+09,1999-03-15 00:00:00,...,Activate,NaN,20.0,NaN,NaN,NaN,NaN,NaN,False,2018-06-28
2853799,0035800001Z0ZRXAA3,AT,de,2019-12-17 01:51:57,Lisa,Mrs.,a,NaN,2.245274e+09,1992-11-08 00:00:00,...,Activate,NaN,27.0,NaN,NaN,NaN,NaN,NaN,False,2018-06-28
2853800,0035800001Z0ZT0AAN,DE,de,2020-01-16 05:36:34,Bärbel,Mrs.,a,NaN,2.133428e+09,1959-01-29 00:00:00,...,Base,NaN,60.0,NaN,NaN,NaN,NaN,NaN,False,2018-06-28

### Get Transaction Score data

In [9]:
path = 'U:\\Projects\\datasets\\customer_history\\scores_28_01_2020'
os.chdir(path)

In [10]:
df_score = pd.read_csv('scores_DE_01012018_01012020.csv',
                 sep = ',',
                 #encoding='utf-16'
                )

In [11]:
df_score

,SFID,frequency,recency,T,monetary_value,pred_purch_coming_week=4
0,0035800001HcHRSAA3,80.0,104.0,104.0,46.371750,2.714102e+00
1,0035800001WEgIjAAL,74.0,93.0,95.0,123.655270,2.682960e+00
2,0035800001YT3UBAA1,60.0,78.0,80.0,290.201500,2.519411e+00
3,0031i00000OsCmVAAV,49.0,72.0,72.0,42.351429,2.281784e+00
4,0035800001de9t4AAA,51.0,77.0,77.0,53.605882,2.244270e+00
...,...,...,...,...,...,...
1095119,0035800001TX2biAAD,30.0,39.0,86.0,98.836333,4.010110e-07
1095120,0035800001PSSP2AAP,12.0,12.0,92.0,13.034167,3.984637e-07
1095121,0035800001LL4bmAAD,14.0,18.0,98.0,149.087857,2.814344e-07
1095122,0035800001OoJZoAAN,13.0,13.0,93.0,21.898462,1.639623e-07
1095123,0035800001IutYkAAJ,21.0,31.0,102.0,75.977619,6.544350e-08

In [7]:
df_score

,SFID,frequency,recency,T,monetary_value,pred_purch_coming_week=4
0,0035800001HcHRSAA3,80.0,104.0,104.0,46.371750,2.714102e+00
1,0035800001WEgIjAAL,74.0,93.0,95.0,123.655270,2.682960e+00
2,0035800001YT3UBAA1,60.0,78.0,80.0,290.201500,2.519411e+00
3,0031i00000OsCmVAAV,49.0,72.0,72.0,42.351429,2.281784e+00
4,0035800001de9t4AAA,51.0,77.0,77.0,53.605882,2.244270e+00
...,...,...,...,...,...,...
1095119,0035800001TX2biAAD,30.0,39.0,86.0,98.836333,4.010110e-07
1095120,0035800001PSSP2AAP,12.0,12.0,92.0,13.034167,3.984637e-07
1095121,0035800001LL4bmAAD,14.0,18.0,98.0,149.087857,2.814344e-07
1095122,0035800001OoJZoAAN,13.0,13.0,93.0,21.898462,1.639623e-07
1095123,0035800001IutYkAAJ,21.0,31.0,102.0,75.977619,6.544350e-08

In [5]:
df_segment = df_segment.rename(columns={
                            'SFID': 'SFID2',
                            'SubscriberKey' : 'SFID'
                                        }
                              )

In [8]:
df_segment.columns

Index(['SFID', 'Country', 'Language', 'LastOpenDate', 'FirstName',
       'Salutation', 'EmailOptInStatus', 'PreferredStore', 'CardID',
       'Birthdate', 'NumberOfPoints', 'AssociatedAccountID', 'Contest_Name',
       'PreferredStoreName', 'PreferredStoreAddress', 'PreferredStoreCity',
       'PreferredStorePostalCode', 'PreferredStoreID', 'RegistrationDate_Club',
       'Email', 'Email_Opt_In_Source', 'Created_Date_SC',
       'Email_Confirmation_Date', 'LastConfirmationDate',
       'PreferredStoreCountry', 'Cluster', 'Subcluster', 'LastName',
       'Next_Shop_Code', 'Next_Shop_Name', 'Distance_Cluster', 'Distance',
       'RFM', 'TO12M', 'Transactions12M', 'ABC', 'Preferred_Channel',
       'Preferred_KindOfProduct', 'Preferred_Category', 'Preferred_Lifestyle',
       'Preferred_Family', 'Rank', 'ScoreGroup', 'GSBTN', 'Age', 'AppCustomer',
       'PrefPhysOpen', 'NextPhysOpen', 'Welcome', 'Push', 'non_profitable'],
      dtype='object')

In [10]:
overlap = pd.merge(df_segment,df_score, how='inner', on='SFID')

NameError: name 'df_score' is not defined

In [9]:
len(overlap.SFID.iloc[0])

NameError: name 'overlap' is not defined

In [16]:
import numpy as np

In [17]:
#Select Top and Base customers
selected_segment = (overlap
.loc[((overlap.ScoreGroup == 'Top') | (overlap.ScoreGroup == 'Base'))]
.sort_values('pred_purch_coming_week=4', ascending=False)
)
threshold = int(np.round(selected_segment.shape[0] /2))
print(threshold)

74538

In [28]:
# Selects 50% best customers
selected_customers_half = selected_segment.iloc[0:threshold,:]
print(selected_customers_half.shape[0])

74538

In [38]:
# Selects customers > 0.1 perdicted purchase
selected_customers_above = selected_segment.loc[selected_segment['pred_purch_coming_week=4'] >=0.01]
print(selected_customers_above.shape[0])

148590

In [24]:
pwd

'U:\\Projects\\datasets\\customer_history\\scores_28_01_2020'

In [21]:
to_export = (selected_customers_above.rename(columns={'SFID': 'SubscriberKey'})[[
    'SubscriberKey',
    'Country',
    'Language',
    'LastOpenDate',
    'FirstName',
    'Salutation',
    'CardID',
    'Birthdate',
    'NumberOfPoints',
    'PreferredStoreName',
    'PreferredStoreAddress',
    'PreferredStoreCity',
    'PreferredStorePostalCode',
    'PreferredStoreID',
    'RegistrationDate_Club',
    'Email'
]])

In [22]:
import os
path = 'U:\\Projects\datasets\\customer_history\\scores_28_01_2020'
os.chdir(path)
country='DE'
to_export.to_csv('scores_'
                                +country
                                +'_'
                                +'01012018'
                                +'_'
                                +'01012020'
                                +'_'
                                +'above_0.1'
                                +'.csv')